body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
  }
  
  header {
    background: linear-gradient(to right, #e5860af2, violet, #05bdf0);
    color: rgb(8, 7, 7);
    padding: 35px 40px;
  }
  
  .other-image {
    width: 80px; 
    height: auto; 
    margin-right: 10px;
    float: right;
  }

  .other-logo {
    width: 80px; 
    height: auto; 
    margin-right: 10px;
    float: left;
  }

  nav a {
    color: rgb(255, 251, 251);
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 50px;
    margin: 10px;
    float: right;
    font-style: initial;
  }
  
  nav a:hover {
    color:#fff204
  }

  .footer {
    margin-top: 20rem;
    background-color: black;
    color: white;
    height: 13rem;
    text-align: center;
    padding: 2rem;
  }

  .footer .p1 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 3rem;
  }

  .footer .p2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 0rem;
  }

  .footer h2 {
    text-align: center;
    font-size: 3.5rem;
    color: rgb(144, 242, 255);
  }

  .those-image {
    width: 10rem; 
    height: auto; 
    margin-right: 10px;
    float: right;
  }

  .those-logo {
    width: 10rem; 
    height: auto; 
    margin-right: 10px;
    float: left;
  }

.container {
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.container h1 {
  margin-top: 5rem;
}

.container h2 {
  color: rgb(255, 253, 255);
  font-size: 3rem;
  background-color: #000000;
}

h2 {
  color: rgb(255, 253, 255);
  font-size: 3rem;
  background-color: #000000;
}

h3 {
  color: rgb(186, 140, 107);
  font-size: 1.5rem;
}

iframe {
    width: 80rem;
    height: 400px;
    color: black;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.female {
  text-align: center;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 5rem;
}

.male {
  text-align: center;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 5rem;
}

